:root {
  --fundo-escuro: #000;
  --fundo-card: #1d2226;
  --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
  --texto-principal: hsla(0, 0%, 100%, 0.9);
  --texto-secundario: hsla(0, 0%, 100%, 0.6);
  --texto-escuro: hsla(0, 0%, 0%, 0.75);
  --input: #38434f;
  --primario: #70b5f9;
  --positivo: #3ec786;
}

body {
  background-color: var(--fundo-escuro);
  font-family: roboto, sans-serif;
}

h1 {
  color: var(--texto-principal);
  font-size: 24px;
  padding-bottom: 0;
}

#sub-title {
  font-size: 16px;
  color: var(--texto-principal);
  padding-top: 0;
}

#container {
  margin-left: 154px;
  margin-top: 76px;
  width: 780px;
  height: 468px;
  background-color: var(--fundo-card-ativo);
}

#img {
  width: 780px;
  height: 230px;
}

#card-info {
  padding-left: 24px;
  padding-top: 56px;
}
